html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: lightgoldenrodyellow;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: rgb(127, 171, 127);
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(37, 51, 14);
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: rgb(144, 213, 33);
  text-shadow: 3px 3px 1px rgb(37, 51, 14);
}

img {
  display: block;
  margin: 0 auto;
}

button{
  background-color: rgb(144, 213, 33);
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}