html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 85px;
  text-align: center;
    font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 85px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: lightpink;
}

body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: white;
  text-shadow: 3px 3px 1px red;
}

img {
  display: block;
  margin: 0 auto;
}